:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --gray: rgb(80, 79, 79);
    --ltgray: rgba(80, 79, 79,0.5);

}

body,
main,
h1,
h2,
p,
ul,
li{
    margin: 0;
    padding: 0;
    color: var(--gray);
    list-style: none;
}

body{
    text-align: center;
    font-size: 0.9375rem;
    font-family: 'Poppins', sans-serif; 
}

p{
    color:var(--ltgray);
}

main{
    padding: 5.6875rem 1.875rem;
}

.header{
    margin-top: 1.4375rem;
    margin-bottom: 5rem;
}

.header h1{
    font-weight: 200;
}

.header h1:last-of-type{
    font-weight: 600;
}

.header p{
    margin-top: 1.5rem;
}

@media only screen and (min-width: 992px) {
    
    .header h1{
        font-size: 2.5rem;
    }

    .header p{
        width: 504px;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.25rem;
    }
} 

.cards{
    text-align: left;
}


.cards li{
    border-radius: 5%;
    padding: 1.875rem;
    height: 13.75rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.1875rem 1.25rem rgba(80, 79, 79,0.25);
}

.cards h2{
    font-size: 1.125rem;
}

.cards p{
    margin-top: 1.1875rem;
}

.cards .__cyan,
.cards .__red,
.cards .__orange,
.cards .__blue{
    position: relative;
}

.cards img{
    height: 3.75rem;
    width: 3.75rem;
    position: absolute;
    bottom: 2.5rem;
    right: 2.5rem;

}

.cards .__cyan{
    border-top: 0.1875rem solid var(--cyan);
    grid-area: cyan;
}

.cards .__red{
    border-top: 0.1875rem solid var(--red);
    grid-area: red;
}

.cards .__orange{
    border-top: 0.1875rem solid var(--orange);
    grid-area: orange;
}

.cards .__blue{
    border-top: 0.1875rem solid var(--blue);
    grid-area: blue;
}

@media only screen and (min-width: 600px) {
    .cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
      } 

    .cards li{
        width: 30%;
    }
}

 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "cyan red blue"
        "cyan orange blue";
        gap: 1em;
    } 

    .cards li{
        width: 450px;
    }

    .cards li:first-child,
    .cards li:last-child{
        transform: translateY(8.75rem);
    }

    .cards li h2{
        font-size: 1.5625rem;
        font-weight: 600;
    }

    .cards li p{
        font-size: 1.25rem;
    }
}
  

footer{
    position: relative;
    bottom: 0;
    padding: 0.625rem;
    background: pink;
    font-size: 13px; 
    text-align: center;
}

footer a{
    color: hsl(228, 45%, 44%)
}